@import url('https://fonts.googleapis.com/css2?family=Overlock:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

body{
 font-family: 'Overlock', serif;
 color: black;
}

tr:nth-child(even) td{
 background-color: #f2f2f2;
}

th, td {
 min-width: initial;
 padding-top: .75rem;
 padding-bottom: .75rem;
 padding-right: .5rem;
 padding-left: .5rem;
}

td {
 border-bottom: 0;
 border-left: 0;
}

tbody tr:last-of-type td{
 padding-bottom: .75rem;
}

h4, .text-delta{
font-size: 12px !important;
font-weight: 600;
text-transform: uppercase;
}

.nav-list .nav-list-item .nav-list-link {
font-size: 1rem;
}
